.mainHeader__top {
    background-color: $dark-c;
    padding: 10px 0;
    color: #fff;
    .headerline {
        justify-content: space-between;
        align-items: center;
    }
    .socialLink {
        svg {
            fill: #fff;
        }
        &:hover {
            svg {
                fill: $white-hover;
            }
        }
    } 
}

.mainHeader__mid {
    padding: 10px 0;
    .headerline {
        align-items: center;
    }
}
.headerline {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.headerline__item {
    padding: 0 10px;
    &.headerline__item-grow {
        flex-grow: 1;
    }
}
.mainMenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -11px;
}
.mainNav {
    width: 100%;
}
.mainMenu__item {
    padding: 0 11px;
}
.mainMenu__link {
    font-size: 15.5px;
    line-height: 20px;
    &:hover {
        color: $white-hover;
    }
}
.headContact {
    display: flex;
    align-items: center;
}
.headContact__text {
    font-size: 15.5px;
    line-height: 20px;
}
.headContact__extra {
    margin-left: 5px;
}
.headContact__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #fff;
        transition: .25s fill;
    }
}
.headContact__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 15.5px;
    line-height: 20px;
    &:hover {
        color: $white-hover;
        .headContact__icon svg {
            fill: $white-hover;
        }
    }
}
.logoLink {
    width: 202px;
    display: block;
    img {
        display: block;
        width: 100%;
        margin-bottom: -5px;
    }
}
.headerRel {
    position: relative;
}
.catalogBtn {
    display: block;
    border: none;
    border-radius: 4px;
    background-color: $light-c;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    width: 175px;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 100%;
    transition: .25s background-color;
    &.__active {
        .catalogBtn__normal {
            display: none;
        }
        .catalogBtn__active {
            display: block;
        }
    }
    &:hover {
        background-color: $dark-c;
    }
}
.catalogBtn__inner {
    width: 100%;
    padding: 12px 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.catalogBtn__ico {
    width: 21px;
    min-width: 21px;
    height: 19px;
    margin-right: 10px;
    svg {
        width: 100%;
        height: 100%;
        fill: #fff;
        display: block;
    }
}
.catalogBtn__normal {
    display: block;
    width: 100%;
    height: 100%;
}
.catalogBtn__active {
    display: none;
    width: 100%;
    height: 100%;
}
span.catalogBtn__text {
    padding-top: 3px;
}
.searchComponent {
    width: 100%;
    position: relative;
    &:hover,
    &.__active {
        .searchComponent__input {
            border-color: $light-c;
        }
    }
    &.__active {
        .searchComponent__clear {
            display: block;
        }
    }
}
.searchComponent__clear {
    position: absolute;
    right: 63px;
    width: 19px;
    height: 100%;
    top: 0;
    display: none;
}
.searchClear {
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: none;
    &:hover {
        .searchClear__inner svg {
            fill: $light-c;
        }
    }
}
.searchClear__inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.searchClear__inner svg {
    width: 19px;
    height: 19px;
    fill: #898989;
    transition: .25s fill;
}
.searchComponent__inner {
    width: 100%;
    display: flex;
}
.searchComponent__field {
    flex-grow: 1;
}
input.searchComponent__input {
    width: 100%;
    display: block;
    height: 43px;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-right: none;
    line-height: 20px;
    padding: 11px 14px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: .25s border-color;
}
.searchBtn {
    display: block;
    height: 43px;
    width: 100%;
    background-color: $light-c;
    border: none;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: .25s background-color;
    &:hover {
        background-color: $dark-c;
    }
}
.searchBtn__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBtn__ico {
    width: 20px;
    height: 20px;
    svg {
        width: 100%;
        height: 100%;
        fill: #fff;
        display: block;
    }
}
.searchComponent__find {
    min-width: 43px;
    width: 43px;
}
.headerActivity {
    padding-left: 10px;
}
.headerActivity__inner {
    display: flex;
    flex-wrap: wrap;
}
.headerActivity__item:not(:first-child) {
    padding-left: 38px;
}
.activityItem {
    background-color: transparent;
    cursor: pointer;
    display: block;
    border: none;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
    transition: .25s color;
    &:hover {
        color: $dark-c;
    }
}
.activityItem__inner {
    display: flex;
    align-items: center;
}
.activityItem__ico {
    width: 19px;
    min-width: 19px;
    height: 21px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    svg {
        fill: $dark-c;
        max-width: 100%;
        max-height: 100%;
        display: block;
        transition: .25s fill;
    }
}
.activityItem__num {
    width: 17px;
    height: 17px;
    display: flex;
    padding-top: 1px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: $light-c;
    color: #fff;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}
.mainHeader__bottom::before,
.mainHeader__bottom::after {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-size: 100% 100%;
    background-position: left;
    background-repeat: repeat-x;
    background-image: url(../img/gradient.jpg);
}
.botCatalogPoint__link {
    font-size: 15px;
    line-height: 20px;
    padding: 11px 0;
}
.botCatalogList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
.catalogPoint {
    position: relative;
    &.__active {
        .botCatalogPoint__link {
            color: $dark-c;
        }
        .botCatalogPoint__dd svg {
            fill: $dark-c;
            transform: rotate(-270deg);
        }
        .catalogPoint__dm {
            display: block;
            &.catalogPoint__dm-left {
                left: auto;
                right: 0;
            }
        }
    }
}
.botCatalogPoint {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    cursor: pointer;
}
.botCatalogPoint__dd {
    margin-left: 5px;
    svg {
        width: 6px;
        height: 10px;
        display: block;
        fill: $light-c;
        transform: rotate(-90deg);
        transition: .25s transform;
    }
}
.botCatalogPoint__link {
    font-weight: 700;
    line-height: 20px;
    font-size: 15px;
}
.catalogPoint__dm {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 212px;
    z-index: 1;
}
.catalogPoint__menu {
    width: 100%;
    position: relative;
    padding: 10px 0;
    background-color: #f4f2f4;
    border: 1px solid $dark-c;
}
.dropMenuList {
    list-style: none;
}
.dropMenuList__link {
    line-height: 20px;
    padding: 7px 15px 7px 30px;
    font-size: 15px;
    display: block;
    font-weight: 500;
    transition: .25s color, .25s background-color;
    &.__active {
        color: #fff;
        background-color: $light-c;
    }
}
.dropMenuList__ii {
    display: none;
    position: absolute;
    left: 100%;
    right: auto;
    top: -1px;
    width: 212px;
}
.catalogPoint__dm.catalogPoint__dm-left {
    .dropMenuList__ii {
        left: auto;
        right: 100%;
    }
}
.dropMenuList__item.__active > .dropMenuList__ii {
    display: block;
}
.headerCatalog {
    &.__active {
        .headerCatalog__collapsed {
            display: block;
        }
    }
}
.headerCatalog__collapsed {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 105px);
    z-index: 15;
    padding-top: 10px;
}
.catalogDropdown {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f4f2f4 50%, #fff 50%);
    .site-container {
        height: 100%;
    }
}
.catalogDropdown__inner {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.catalogDropdown__item {
    height: 100%;
}
.catalogDropdown__side {
    background-color: #f4f2f4;
    width: calc(397px + 50vw - 600px);
    min-width: calc(397px + 50vw - 600px);
}
.catalogDropdown__main {
    flex-grow: 1;
    padding-right: calc(50vw - 600px);
    max-width: calc(50vw - 397px + 600px);
    background-color: #fff;
}
.headCatBar {
    overflow: auto;
    max-height: 100%;
    padding-top: 26px;
}
.headCatBar__menu {
    padding-bottom: 26px;
}
.headCatList {
    list-style: none;
}
.headCatBar__bottom {
    padding-left: calc(50vw - 600px);
}
.headCCmenu {
    border-top: 2px solid #cdcccd;
    padding-top: 26px;
}
.headCatlink {
    display: flex;
    align-items: center;
    padding-left: calc(50vw - 600px);
    min-height: 63px;
    transition: .25s color, .25s background-color;
    &.__active {
        background-color: $dark-c;
        .headCatArr svg,
        .headCatlink__ico svg {
            fill: #fff;
        }
        .headCatlink__text {
            color: #fff;
        }
    }
}
.headCatlink__arrow {
    align-self: stretch;
    width: 46px;
    min-width: 46px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.headCatArr {
    flex-grow: 1;
    width: 100%;
    background-color: transparent;
    border: none;
    .headCatArr__inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        transform: scale(-1, 1);
        display: block;
        fill: $light-c;
        transition: .25s fill;
    }
}
.headCatlink__ico {
    min-width: 41px;
    width: 41px;
    height: 31px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-right: 20px;
    svg {
        fill: $light-c;
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: .25s fill;
    }
}
.headCatlink__text {
    flex-grow: 1;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
    transition: .25s color;
}
.headCCmenuList {
    list-style: none;
    margin-bottom: 43px;
}
.headCCmenuList__link {
    font-size: 15.5px;
    line-height: 20px;
    font-weight: 500;
    &:hover {
        color: $dark-c;
    }
}
.headCCmenuList__item {
    margin-bottom: 19px;
    &:last-child {
        margin-bottom: 0;
    }
}
.headCCmenu__ai:not(:last-child) {
    margin-bottom: 17px;
}
.headCCmenu__activity {
    margin-bottom: 45px;
}
.headCCmenu__tel {
    margin-bottom: 26px;
    .headContact__icon svg {
        fill: $dark-c;
    }
    .headContact__link {
        font-size: 15.5px;
        &:hover {
            color: $dark-c;
            .headContact__icon svg {
                fill: $dark-c;
            }
        }
    }
}
.headCCmenu__btn {
    padding-bottom: 20px;
}
.catalogDropMain {
    padding-left: 40px;
    padding-top: 10px;
    max-height: 100%;
    overflow: auto;
}
.catalogDropItem {
    display: none;
    &.__active {
        display: block;
    }
}
.catalogDropItem__top {
    padding-bottom: 18px;
}
.catalogDropItem__ti {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.dropdownCat {
    column-count: 3;
    list-style: none;
}
.dropdownCat__item {
    break-inside: avoid;
    margin-bottom: 19px;
}
.dropdownCat__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    &:hover {
        color: $dark-c;
    }
}
.logoLink__mobile {
    display: none;
}
.headerline__item.headerline__item-mobile {
    display: none;
}
.headCatBar__title,
.headCCmenu__social {
    display: none;
}
.headCCmenu__social {
    overflow: hidden;
}
.catalogDropItem__header {
    display: none;
    margin-bottom: 24px;
}
@media (max-width: 1300px) {
    .botCatalogPoint {
        padding: 0 5px;
    }
}
@media (max-width: 1260px) {
    .headCatlink,
    .headCatBar__bottom {
        padding-left: 30px;
    }
    
    .catalogDropdown__side {
        background-color: #f4f2f4;
        width: 427px;
        min-width: 427px;
    }
    .catalogDropdown__main {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-right: 30px;
        max-width: calc(100vw - 427px);
        background-color: #fff;
    }
}
@media (max-width: 1100px) {
    .mainHeader__bottom {
        display: none;
    }
    .headerCatalog__collapsed {
        height: calc(100vh - 94px);
        padding-top: 11px;
    }
    .mainHeader__mid {
        border-bottom: 1px solid $dark-c;
    }
    .mainNav {
        display: none;
    }
    .catalogBtn__ico {
        margin-right: 0;
    }
    .catalogBtn__text {
        display: none;
    }
    .catalogBtn {
        width: 43px;
    }
    .headerActivity__item:not(:first-child) {
        padding-left: 15px;
    }
    .dropdownCat {
        column-count: 2;
    }
    .catalogDropItem__main {
        padding-bottom: 20px;
    }
}
@media (max-width: 998px) {
    .logoLink {
     width: 150px;
    }
    .activityItem {
        font-size: 14px;
    }
    .headCCmenu__ai .activityItem {
        font-size: 16px;
    }
    .catalogDropMain {
        padding-left: 20px;
    }
}
@media (max-width: 900px) {
    .headerActivity {
        .activityItem__ico {
            margin-right: 0;
        }
        .activityItem__text {
            display: none;
        }
    }
}
@media (max-width: 800px) {
    .headerActivity {
        .activityItem__ico {
            margin-right: 0;
        }
        .activityItem__text {
            display: none;
        }
    }
    .dropdownCat {
        column-count: 1;
    }
}
@media (max-width: 768px) {
    .catalogDropdown__item.catalogDropdown__main,
    .catalogDropdown__item.catalogDropdown__side {
        max-width: 50%;
        width: 50%;
        min-width: 50%;
    }
}
@media (max-width: 660px) {
    .catalogDropItem__header {
        display: block;
        .headCatlink {
            padding-left: 0;
            padding-right: 0;
            min-height: 52px;
        }
    }
    .headCCmenu__social {
        display: block;
        border-top: 2px solid #cdcccd;
        border-bottom: 2px solid #cdcccd;
        padding: 20px 0;
        .socialList {
            justify-content: space-between;
        }
        .socialLink svg {
            fill: $dark-c;
        }
    }
    .headCatBar__title {
        display: block;
        font-weight: 900;
        font-size: 20px;
        color: $dark-c;
        margin-bottom: 8px;
    }
    .mainHeader__top {
        display: none;
    }
    .catalogDropdown__item.catalogDropdown__main, .catalogDropdown__item.catalogDropdown__side {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }
    .catalogDropdown__item.catalogDropdown__main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-110%);
        transition: .25s transform;
        padding-right: 0;
        &.__active {
            transform: translateX(0);
        }
    }
    .headerCatalog__collapsed {
        height: calc(100vh - 44px);
        padding-top: 0px;
    }
    .logoLink__mobile {
        display: block;
    }
    .headerline__item.headerline__item-mobile {
        .activityItem__ico {
            margin: 0;
        } 
    }
    .logoLink__Desktop,
    .headerActivity__item.headerActivity__item-pa {
        display: none;
    }
    .mainHeader__mid {
        padding: 7px 0;
    }
    .headerline__item.headerline__item-mobile {
        display: block;
    }
    .headerActivity__item:not(:first-child) {
        padding-left: 0px;
    }
    .headerActivity {
        padding-left: 0px;
    }
    .logoLink img {
        margin-bottom: 0;
    }
    .headerline__item.headerline__item-search {
        padding: 5px 30px 6px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 14;
        background-color: #fff;
        margin-top: 8px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: .25s opacity, .25s visibility, .25s transform;
        &.__active {
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-size: 100% 100%;
            background-position: left;
            background-repeat: repeat-x;
            background-image: url(../img/gradient.jpg);
        }
    }
    .headerCatalog__collapsed {
        margin-top: 7px;
    }
    .headerline__item-icons .activityItem__ico {
        width: 20px;
        min-width: 20px;
    }
    .headerline__item-icons .activityItem {
        width: 30px;
        height: 30px;
    }
    .headerline__item-icons .activityItem__inner {
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .headerline__item.headerline__item-header {
        order: -1;
    }
    .mainHeader__mid .headerline {
        justify-content: space-between;
    }
    .mainHeader__mid {
        background-color: $dark-c;
        .headerline {
            margin: 0 -5px;
        }
        .headerline__item {
            padding: 0 5px;
        }
        .headerline__item.headerline__item-search {
            padding: 5px 30px 6px;
        }
    }
    .mainHeader__mid .headerline__item-icons .activityItem__ico svg {
        fill: #fff;
    }
    .mainHeader__mid .catalogBtn {
        background-color: $light-c;
    }
    .catalogBtn {
        height: 30px;
        width: 30px;
        min-width: 30px;
    }
    .catalogBtn__inner {
        padding: 7px 6px;
        height: 100%;
        .catalogBtn__ico  {
            width: 100%;
            min-width: 100%;
            height: 100%;
        }
    }
    .logoLink {
        width: 113px;
    }
    .mainHeader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 90;
    }
    .siteContent {
        padding-top: 45px;
    }
    .headCatArr {
        width: auto;
    }
    .headCatlink__arrow {
        width: auto;
        min-width: auto;
    }
    .headCatlink,
    .headCatBar__title,
    .headCatBar__bottom,
    .catalogDropMain {
        padding-left: 30px;
        padding-right: 30px;
    }
    .headCatBar__bottom {
        .headCatBar__title {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .headCatBar {
        padding-top: 16px;
    }
    .headCatlink__ico {
        min-width: 31px;
        width: 31px;
        height: 31px;
        margin-right: 18px;
    }
    .headCatlink__text {
        font-size: 16px;
        line-height: 20px;
    }
    .headCatlink {
        min-height: 41px;
    }
    .headCatlink__text {
        flex-grow: 0;
    }
    .headCatlink__arrow {
        margin-left: 0;
    }
    .headCatBar__menu {
        padding-bottom: 16px;
    }
    .headCCmenu {
        padding-top: 15px;
    }
    .headCCmenuList {
        border-bottom: 2px solid #cdcccd;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .headCCmenu__activity {
        margin-bottom: 20px;
        padding-top: 6px;
    }
    .headCCmenu__ai {
        margin-bottom: 0;
    }
    .headCCmenu__ai:last-child {
        display: none;
    }
    .headCCmenu__tel {
        margin-bottom: 16px;
    }
    .headCCmenu__btn .customBtn {
        width: 100%;
    }
    .headCCmenu__btn {
        padding-bottom: 20px;
    }
    .catalogDropItem__top {
        display: none;
    }
    .catalogDropMain {
        padding-top: 0;
    }
    .catalogDB {
        background-color: transparent;
        border: none;
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        color: $dark-c;
        border-top: 2px solid #d6d6d6;
        border-bottom: 2px solid #d6d6d6;
        font-weight: 700;
    }
    .catalogDB__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
    }
    .catalogDB__ico {
        margin-right: 10px;
    }
    .catalogDB__ico svg {
        display: block;
        fill: $dark-c;
    }
}
@media (max-width: 576px) {
    .mainHeader__mid {
        .headerline__item.headerline__item-search {
            padding: 5px 7px 6px;
        }
    }
    .headCatlink,
    .headCatBar__title,
    .headCatBar__bottom,
    .catalogDropMain {
        padding-left: 7px;
        padding-right: 7px;
    }
}