@import "./parts/_themes.scss";
@import "./parts/_fonts.scss";
@import "./parts/_main.scss";

@import "./components/_header.scss";

.site-container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}
.socialList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px;
}
.socialList__item {
    padding: 0 10px;
}
.socialLink {
    display: flex;
}
.socialLink svg {
    display: block;
    transition: .25s fill;
}